<table class="table table-success table-striped">
    <thead>
      <tr>
        <!-- <th scope="col">Id</th> -->
        <th scope="col">Rent Id</th>
        <th scope="col">Car Id</th>
        <th scope="col">Customer Id</th>
        <th scope="col">Rent Date</th>
        <th scope="col">Return Date</th>
      </tr>
    </thead>
    <tr *ngFor="let rental of rentals">
        <!-- <td >{{rental.Id}}</td> -->
        <td>{{rental.rentId}}</td>
        <td>{{rental.carId}}</td>
        <td>{{rental.customerId}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
    </tr>
   
  </table>
