<!-- <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <table *ngIf="dataLoaded==true" class="table">
    <thead>
      <tr>
        <th>Araç Id</th>
        <th>Marka</th>
        <th>Renk Id</th>
        <th>Model</th>
        <th>Günlük Ücret</th>
        <th>description</th>
      </tr>
    </thead>
    <tr *ngFor="let car of cars">
        <td>{{ car.carId }}</td>
        <td>{{ car.brandName }}</td>
        <td>{{ car.colorName }}</td> 
        <td>{{ car.modelYear }}</td>
        <td>{{ car.dailyPrice }}</td>
        <td>{{ car.description }}</td>
    </tr>
  </table> -->

  <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div *ngFor="let car of cars" class="card" style="width: 18rem; display:inline-block; margin-left:10px; margin-bottom: 10px;">
    <div class="card-body">
      <h5 class="card-title">{{car.brandName}}</h5>
      <p class="card-text">Günlük Ücreti : {{car.dailyPrice}}<br>Model Yılı : {{car.modelYear}}<br>Açıklama : {{car.description}}</p>
      <a routerLink="/cars/getCarDetails/{{car.carId}}"  >Araç Detayları</a>
    </div>
  </div>